    <div class="fileUpload">
        <input type="file" class="upload" accept="{{fileTypes}}"/>
        <button type="button" ng-click="uploadItem()"><span ng-if="showAdd" class="fa fa-plus">&nbsp;&nbsp;</span>{{text}}</button>
    </div>
