<div>
    <button type="button" class="{{buttonClass}}" ng-click="onClick()" ladda="action" >

        <div>
            <span ng-if="plusSign">+</span>
            <span class="{{leftIconClass}}"></span>
            <span class="{{textLabelClass}} nudge-right-small">{{text}}</span>
            <span class="{{rightIconClass}}"></span>
        </div>
    </button>
</div>