<div style="position: relative; color: #1b84f9;display: inline-block">
    <span class="fa fa-info-circle" ng-mouseover="toggleTip('inline-block')" ng-mouseleave="toggleTip('none')"></span>
    <div class="info-tool-tip" ng-bind-html="trustedContent" id="tip{{$id}}"></div>
</div>