<div>
    <div class="flexAcross">
        <div class="fItem fItemFull">
            <p>
                Your registration fee has been accepted, and we are currently reviewing your Commercial Application.
            </p>
            <p>
                You will be notified via email once your registration is approved, and you may login and start presenting content!
            </p>
        </div>
    </div>
</div>