<div ng-if="!forgotPasswordEmailed" class="stretch">
    <form>
        Enter the EMAIL associated with the account.
            <div class="flex-container nudge-down-large">
                <div class="stretch-medium">
                    <input type="text" class="form-control" placeholder="EMAIL ADDRESS" ng-model="loginForm.username" id="emailAddress" required />
                </div>
                <div class="nudge-right">
                    <tg-button button-class="button-gray" text="Submit" text-label-class="buttonLabel" on-click="forgotPassword()" action="ladda.password"></tg-button>
                </div>
            </div>
    </form>
</div>

<div ng-if="forgotPasswordEmailed">
        <p>
            THANKS!
        </p>
        An Email has been sent to the given email address with a link to reset your password.
</div>
