<div class="inline-modal-header">
    <div class="border-right flex">
        <ul class="spacedList">
            <li>Host channels and shows</li>
            <li>Sell Cyber Seats and channel subscriptions</li>
            <li>Host ON DEMAND content</li>
            <li class="listNone">
                <tg-button button-class="button-gray" text="REGISTER AS PRODUCER" text-label-class="buttonLabel" left-icon-class="fa fa-video-camera" ui-sref="producer.stepone"></tg-button>
            </li>
        </ul>
    </div>
    <div class="flex">
        <ul class="spacedList">
            <li>Browse live shows and channels</li>
            <li>Purchase exclusive cyberseats to events</li>
            <li>Download ON DEMAND content</li>
            <li class="listNone">
                <tg-button button-class="button-gray" text="REGISTER AS Viewer" text-label-class="buttonLabel" left-icon-class="fa fa-user" ui-sref="viewer.stepone"></tg-button>
            </li>
        </ul>
    </div>
</div>