<div>
    <form name="resetPasswordForm" novalidate>
        <div class="flexAcross">
            <div class="stretch">
                <label class="labels-left">PASSWORD</label>
                <input type="password" class="form-control" ng-model="resetForm.password" name="password" required minlength="6" />
                <span class="help-block">&nbsp;</span><p ng-show="resetPasswordForm.password.$error.required && (resetPasswordForm.password.$dirty || resetPasswordForm.password.$touched || resetPasswordForm.$submitted)" class="help-block">Password is required</p>
                <p ng-show="resetPasswordForm.password.$error.minlength && (resetPasswordForm.password.$dirty || resetPasswordForm.password.$touched || resetPasswordForm.$submitted)" class="help-block">Password must be at least 6 characters in length</p>
            </div>
        </div>
        <div class="flexAcross">
            <div class="stretch">
                <label class="labels-left">CONFIRM PASSWORD</label>
                <input type="password" class="form-control" ng-model="resetForm.confirmPassword" name="confirmPassword" required />
                <span class="help-block">&nbsp;</span><p ng-show="resetPasswordForm.confirmPassword.$touched && (resetForm.confirmPassword !== resetForm.password)" class="help-block">Passwords do not match</p>
            </div>
        </div>
        <div class="flexAcross">
            <div class="stretch">
                <tg-button button-class="button-blue stretch" text="SUBMIT" text-label-class="buttonLabel" action="ladda.reset" on-click="resetPassword(resetPasswordForm.$valid)"></tg-button>
            </div>
        </div>
    </form>
</div>